<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }

      .notfound {
        max-width: 600px;
        text-align: center;
      }

      .notfound h1 {
        font-size: 10em;
        margin: 0;
        font-weight: bold;
      }

      .notfound p {
        font-size: 2em;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="notfound">
      <h1>404</h1>
      <p>Page not found <br /><a href="/home">Go back home</a></p>
    </div>
  </body>
</html>
